.idea/
build/
dir/
tmp/
vendor/
node_modules/

.DS_Store
.env
.temp

*.bak
*.cache
*.clover
*.orig

*.BASE
*.LOCAL
*.REMOTE

composer.lock
package-lock.json

sitemap.xml

*.zip
*.tar.gz

biome.json
pint.json
